.main {
    background: url("../../../static/images/login_background.jpg") center center fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42rem;
    height: 42rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2.6rem;
    color: white;
}

.input {
    font-size: 1.8rem;
    width: 26rem;
    font-weight: bolder;
}

.input::placeholder {
    font-weight: normal;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 2rem;
    color: #ebebeb;
    font-size: 3rem;
}


:global {
    
}