.logo {
    width: 10rem;
    height: 3.5rem;
    margin: 0 2rem 0 0;
    float: left;
    background-image: url("./static/images/logo.png");
    background-size: cover;
}

.layout {
    background-color: white;

}

.menu {
    line-height: 3.5rem;
    display: flex;
    flex-wrap: nowrap;

}


.header {
    height: 4.5rem;
    padding-left: 1rem;
    padding-right: 10px;
    background-color: white;
}

.logout{
    width:100%;
    display: flex;
    flex-direction: row-reverse;
}

.logoutButton{
    margin-top: 1rem;
}